<div class="row">
	<div class="col-sm-8 col-sm-offset-2">


		<div id="form-container"></div>

		<!-- show our formData as it is being typed -->
		<!-- <pre>
    {{ formData }}
  </pre> -->

		<div class="row workarea">
			<!-- <ul class="nav nav-tabs nav-tabs-courier">
				<li ui-sref="request.recent.sent" role="presentation"
					ng-class="{active: state.includes('request.recent.sent')}"><a href="#">
					<span class="glyphicon glyphicon-upload"></span> {{'SENT'
						| translate}}</a></li>
				<li ui-sref="request.recent.received" role="presentation"
					ng-class="{active: state.includes('request.recent.received')}"><a
					href="#"><span class="glyphicon glyphicon-download"></span> {{'RECEIVED' | translate}}</a></li>
				<li ui-sref="request.recent.search" role="presentation"
					ng-class="{active: state.includes('request.recent.search')}"><a
					href="#"><span class="glyphicon glyphicon-search"></span> {{'SEARCH' | translate}}</a></li>
			</ul> -->

			<div id="form-views" ui-view></div>

		</div>



	</div>
</div>

